.Passengers {
  width: calc(100% - 80px);
  padding: 0 40px;
  color: #333;
  margin-top: 80px;
}

.Passengers-content {
  width: 100%;
  border-collapse: collapse;
}

.Passengers-content th {
  text-align: left;
  padding: 0 10px 5px 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #333;
}

.Passengers-content td {
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.Passengers-content tbody tr {
  border-bottom: 1px solid #b7b7b7;
}

.Passengers-content th.Passengers-number {
  text-align: right;
}

.Passengers-text {
  text-align: left;
}
